@charset "UTF-8";
/* components imports */
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
}

:root {
  --white-color: #fff;
  --black-color: #000;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
  color: #404048;
  position: relative;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl 700";
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection {
  color: #fff;
  background-color: #b81c31;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: #fff;
  background-color: #b81c31;
}

h1 {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
}

p::-moz-selection {
  color: #fff;
  background-color: #b81c31;
}

p::selection {
  color: #fff;
  background-color: #b81c31;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #b81c31;
}

img {
  max-width: 100%;
}

a,
.button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.button {
  color: #ffffff;
  max-width: 156px;
  width: 100%;
  min-width: 140px;
  padding: 10px 0;
  display: block;
  font-size: 13px;
  font-family: "Museo Sans Cyrl 700";
  letter-spacing: 0.0001em;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  color: #fff;
}

.button i {
  color: #46e6b0;
  margin-right: 4px;
}

.button_green {
  background-color: #1cb883;
  border-bottom: 4px solid #149d6f;
}

.button_red {
  color: #b81c31;
  font-size: 14px;
  letter-spacing: 0.28px;
  border: 2px solid #b81c31;
  border-radius: 2px;
}

.burger {
  margin-left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.burger span,
.burger span:after,
.burger span:before {
  width: 23px;
  position: absolute;
  height: 4px;
  background-color: black;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -11.5px;
  margin-top: -2px;
}

.burger span:after,
.burger span:before {
  content: '';
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.burger span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.burger-active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-active span {
  height: 0;
}

.burger-active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-title {
  color: #081d42;
  font-size: 29px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

.breadcrumb__item {
  color: #49556b;
  text-decoration: underline;
}

.breadcrumb__item:not(:first-child):before {
  content: '→';
  font-size: 12px;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

.breadcrumb__item:last-child {
  color: #7e838d;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.caption {
  padding: 167px 0 52px 0;
  background-color: #fafafb;
}

.caption__title {
  color: #081d42;
  font-size: 38px;
  margin-bottom: 11px;
}

.caption-links {
  color: #a1a6af;
  font-family: "Museo Sans Cyrl 700";
  font-size: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  white-space: nowrap;
}

.caption-links span {
  font-size: 13px;
}

.caption-links li:not(:last-child) {
  margin-right: 12px;
}

.caption-links__link {
  padding: 11px;
  border-radius: 3px;
  display: block;
}

.caption-links__link_active {
  color: #b81c31;
  border: 2px solid #b81c31;
}

.caption-links_services {
  margin-right: 30px;
}

.caption-links_contacts {
  margin-right: 50px;
}

.ttu {
  text-transform: uppercase;
}

.header.sticky {
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
}

.header.sticky .logo {
  max-width: 180px;
}

.form {
  max-width: 412px;
  -webkit-box-shadow: 0 4px 46px rgba(0, 0, 0, 0.41);
          box-shadow: 0 4px 46px rgba(0, 0, 0, 0.41);
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  padding: 3rem;
}

.form__title {
  color: #081d42;
  font-size: 21px;
  margin-bottom: 16px;
}

.form__descr {
  max-width: 302px;
  color: #404048;
  font-size: 14px;
  letter-spacing: 0.002em;
  margin-bottom: 35px;
}

.form input {
  width: 100%;
  color: #404048;
  padding: 14px 0;
  border: none;
  border-bottom: 2px solid #babbc3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form input:focus {
  outline: none;
  border-bottom: 2px solid #494949;
  color: #000;
}

.form__button {
  border: none;
  border-bottom: 4px solid #149d6f;
  max-width: 100%;
  margin-top: 29px;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

#page-preloader .cssload-main {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-100%, -240%);
  -o-transform: translate(-100%, -240%);
  -ms-transform: translate(-100%, -240%);
  -webkit-transform: translate(-100%, -240%);
  -moz-transform: translate(-100%, -240%);
}

.cssload-main * {
  font-size: 62px;
}

.cssload-heart {
  animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  top: 50%;
  content: '';
  left: 50%;
  position: absolute;
}

.cssload-heartL {
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  content: '';
  position: absolute;
  display: block;
  border-radius: 100%;
  animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  transform: translate(-28px, -27px);
  -o-transform: translate(-28px, -27px);
  -ms-transform: translate(-28px, -27px);
  -webkit-transform: translate(-28px, -27px);
  -moz-transform: translate(-28px, -27px);
}

.cssload-heartR {
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  content: '';
  position: absolute;
  display: block;
  border-radius: 100%;
  transform: translate(28px, -27px);
  -o-transform: translate(28px, -27px);
  -ms-transform: translate(28px, -27px);
  -webkit-transform: translate(28px, -27px);
  -moz-transform: translate(28px, -27px);
  animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

.cssload-square {
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  position: relative;
  display: block;
  content: '';
  transform: scale(1) rotate(-45deg);
  -o-transform: scale(1) rotate(-45deg);
  -ms-transform: scale(1) rotate(-45deg);
  -webkit-transform: scale(1) rotate(-45deg);
  -moz-transform: scale(1) rotate(-45deg);
  animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

.cssload-shadow {
  top: 97px;
  left: 50%;
  content: '';
  position: relative;
  display: block;
  bottom: -.5em;
  width: 1em;
  height: .24em;
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

@keyframes cssload-square {
  50% {
    border-radius: 100%;
    -webkit-transform: scale(0.5) rotate(-45deg);
            transform: scale(0.5) rotate(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-45deg);
            transform: scale(1) rotate(-45deg);
  }
}

@-webkit-keyframes cssload-square {
  50% {
    border-radius: 100%;
    -webkit-transform: scale(0.5) rotate(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-45deg);
  }
}

@keyframes cssload-heart {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes cssload-heart {
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
  }
}

@keyframes cssload-heartL {
  60% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cssload-heartL {
  60% {
    -webkit-transform: scale(0.4);
  }
}

@keyframes cssload-heartR {
  40% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cssload-heartR {
  40% {
    -webkit-transform: scale(0.4);
  }
}

@keyframes cssload-shadow {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-color: #e4e4e4;
  }
}

@-webkit-keyframes cssload-shadow {
  50% {
    -webkit-transform: scale(0.5);
    border-color: #e4e4e4;
  }
}

/* main */
/* header */
.header {
  width: 100%;
  position: absolute;
  z-index: 100;
  padding-top: 9px;
  background-color: rgba(191, 194, 200, 0.41);
  border-bottom: 4px solid rgba(88, 100, 122, 0.11);
  border-top: 4px solid #3f4b60;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .logo {
  max-width: 100%;
  margin-top: 7px;
  min-width: 120px;
  margin-bottom: 8px;
}

.header .button {
  display: block;
}

.menu {
  max-width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu li {
  color: #3f4b60;
  font-family: "Museo Sans Cyrl 700";
  font-size: 17px;
}

.menu:not(:last-child) {
  margin-right: 20px;
}

.menu-active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  position: relative;
}

.menu-active li {
  margin: 30px 5% 30px 0;
}

.menu-active li a {
  text-shadow: 0px 3px 3px white, 16px 3px 1em #666161;
}

.menu-active:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 194, 200, 0.8);
}

/* hero */
.hero {
  background: url(../img/main/bg.jpg) no-repeat fixed center top/cover;
  padding: 200px 0 150px;
  color: #081d42;
  -webkit-box-shadow: inset 0px -14px 0px 0px rgba(252, 252, 252, 0.15);
  box-shadow: inset 0px -14px 0px 0px rgba(252, 252, 252, 0.15);
}

.hero__title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 58px;
  margin-bottom: 12px;
}

.hero__subtitle {
  font-family: "Museo Sans Cyrl 100";
  font-size: 29px;
  max-width: 475px;
  margin-bottom: 25px;
  letter-spacing: normal;
}

.hero .links {
  margin-left: 3px;
}

.links {
  width: 173px;
  height: 46px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.links__item {
  width: 30px;
  height: 30px;
  font-size: 17px;
  text-align: center;
  line-height: 28px;
  border: 2px solid;
}

.links__item_fb {
  color: #3465a3;
}

.links__item_tw {
  color: #23c3ff;
}

.links__item_tg {
  color: #3faed9;
}

.links__item:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/* features */
.features {
  padding: 52px 0 57px 0;
  background-color: #f1f1f3;
}

.features__title {
  margin-bottom: 41px;
  text-align: center;
}

.features__button {
  min-width: 172px;
  -webkit-transform: translateY(76px);
          transform: translateY(76px);
  font-size: 16px;
  padding: 13px 0;
  margin: 0 auto;
}

.features .button_green:hover {
  -webkit-transform: translateY(86px);
          transform: translateY(86px);
}

.feature {
  text-align: center;
}

.feature__pic {
  margin-bottom: 18px;
}

.feature__title {
  font-size: 21px;
  margin-bottom: 12px;
}

.feature__text {
  line-height: 1.25;
}

/* benefits */
.benefits {
  padding: 97px 0 83px;
}

.benefit {
  text-align: center;
}

.benefit__label {
  display: inline-block;
  font-family: "Museo Sans Cyrl 100";
  width: 86px;
  height: 86px;
  background-color: #102e62;
  color: #ffffff;
  line-height: 86px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 8px;
}

.benefit__title {
  font-size: 24px;
  margin-bottom: 11px;
  font-family: "Museo Sans Cyrl 100";
}

.benefit__title::first-letter {
  color: #b81c31;
}

.benefit__text {
  line-height: 1.25em;
}

/* info */
.info {
  background: url("../img/main/section_bg.jpg") no-repeat center center/cover;
  color: #ffffff;
  padding: 38px 0 45px 0;
}

.info__title {
  color: #9ba2af;
  border-bottom: 3px solid #9ba2af;
  padding-bottom: 10px;
  letter-spacing: 0.002em;
  font-size: 23px;
  font-family: "Museo Sans Cyrl 700";
  margin-bottom: 20px;
}

.info__button {
  border: 2px solid #fff;
  min-width: 170px;
  margin-top: 36px;
  font-size: 16px;
}

.mission__text {
  font-family: "Museo Sans Cyrl 300";
  font-size: 15px;
  color: #a3aab6;
}

.mission__text_basis {
  padding-right: 17px;
}

.mission__text p:not(:last-child) {
  margin-bottom: 14px;
}

.news__item {
  padding-bottom: 12px;
  position: relative;
}

.news__item:after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  opacity: 0.1;
  width: 100%;
  max-width: 236px;
  height: 1px;
  bottom: 0;
}

.news__item:not(:last-child) {
  margin-bottom: 17px;
}

.news__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  margin-right: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news__img:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.news__title {
  color: #cfd3d9;
  font-size: 13px;
  max-width: 176px;
}

.news__date {
  display: block;
  font-family: "Museo Sans Cyrl 100";
  font-size: 10px;
  color: #a2a5aa;
  margin-top: 12px;
}

/* about */
.about {
  padding: 41px 0 0 0;
  background-color: #3a4456;
  line-height: 1.45em;
  color: #a7abb4;
}

.about__item {
  margin-bottom: 46px;
}

.about__title {
  font-size: 19px;
  margin-bottom: 17px;
}

.about__links a {
  display: block;
}

/* footer */
.footer {
  padding: 38px 0 45px;
  background-color: #1f2531;
  font-size: 12px;
  border-bottom: 18px solid #58647a;
  color: #6c7178;
}

.footer__info {
  max-width: 205px;
}

.footer__info p {
  margin-bottom: 12px;
  letter-spacing: 0.001em;
}

.footer__credits .letter {
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid #6c7178;
  line-height: 23px;
  font-family: "Museo Sans Cyrl 100";
  font-size: 15px;
}

.footer__author p {
  max-width: 140px;
  margin-left: 9px;
  margin-bottom: 18px;
}

.footer__policy {
  max-width: 138px;
}

.footer__policy a {
  border-bottom: 1px solid #6c7178;
}

.footer__policy a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer__logo {
  margin-top: -38px;
}

.footer .button {
  margin-top: 31px;
  margin-left: 15px;
}

/* contacts */
/* map */
.map {
  position: relative;
}

.map .container-fluid {
  padding: 0;
}

.map__label {
  position: absolute;
  max-width: 470px;
  right: 19%;
  top: 10%;
  background-color: rgba(58, 68, 86, 0.75);
  border-radius: 5px;
  color: #fff;
  padding: 14px 16px 50px 34px;
  font-size: 12px;
}

.map__label p {
  line-height: 1.35em;
}

.map__label p:not(:last-child) {
  margin-bottom: 10px;
}

.map__label a {
  font-size: 16px;
}

.map__label i {
  font-size: 14px;
  margin-right: 15px;
}

.map__label:before {
  content: '';
  position: absolute;
  border: 25px solid transparent;
  border-right: 25px solid rgba(58, 68, 86, 0.75);
  left: -50px;
}

.map__topline {
  border-bottom: 1px solid #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
  margin-bottom: 15px;
  margin-bottom: 49px;
}

.map__title {
  font-size: 21px;
}

.map__label-body {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.map__column {
  width: 50%;
}

.map__tel {
  margin-bottom: 30px;
}

.map__adress {
  margin-bottom: 24px;
}

.map .links {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.map .links i {
  margin: 0 auto;
}

.map .links__item_fb, .map .links__item_tw, .map .links__item_tg {
  color: #ffffff;
}

/* about-company */
.about-company {
  padding-top: 169px;
  padding-bottom: 105px;
}

.about-company .main-links {
  margin-top: 22px;
}

/* advantages */
.advantages {
  padding-top: 57px;
}

.advantages__title {
  letter-spacing: 0.025em;
  margin-bottom: 29px;
}

.advantages__descr {
  font-size: 15px;
  color: #404048;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.advantages .list {
  margin-top: 54px;
  border-top: 2px solid #e5e6e8;
}

.advantages .list__item {
  position: relative;
  margin-top: 34px;
  padding-left: 99px;
  padding-bottom: 32px;
}

.advantages .list__item:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../img/about/icon.png);
  left: 3px;
  top: 4px;
}

.advantages .list__item:after {
  content: '';
  position: absolute;
  width: 82%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #e5e6e8;
}

.advantages .list__title {
  color: #081d42;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.advantages .list__text {
  color: #404048;
  font-size: 14px;
  letter-spacing: 0.28px;
}

/* power */
.power {
  padding-top: 49px;
  padding-bottom: 71px;
}

.power__title {
  margin-bottom: 38px;
  letter-spacing: 0.02em;
}

.power__picture {
  display: block;
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.power__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 68, 86, 0.69);
  background-image: url(../img/about/arrows.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  border: 7px solid #9a97a7;
}

.power__overlay:hover {
  opacity: 1;
}

/* attendance */
.attendance {
  padding-top: 167px;
  background-color: #fafafb;
  padding-bottom: 52px;
}

.attendance .main-links {
  margin-right: 22px;
}

.attendance .main-links span {
  font-size: 13px;
}

.attendance .main-links__link {
  padding: 11px 11px 11px 15px;
}

.lawyers {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 108, 138, 0.8)), to(rgba(93, 111, 139, 0.8))), url(../img/services/services__bg.jpg) center center/cover;
  background: linear-gradient(rgba(90, 108, 138, 0.8), rgba(93, 111, 139, 0.8)), url(../img/services/services__bg.jpg) center center/cover;
  color: #ffffff;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lawyers__title {
  font-size: 25px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.02em;
  margin-bottom: 19px;
}

.lawyers__text {
  font-size: 15px;
  letter-spacing: 0em;
}

.lawyers-links {
  padding: 18px 30px;
  border-radius: 5px;
  border: 2px solid #9698a4;
}

.lawyers-links a:before {
  content: '→ ';
}

.lawyers-links a:hover {
  margin-left: 5px;
  color: #ffffff;
}

.lawyers-links__item {
  font-size: 15px;
  display: block;
  letter-spacing: 0.03em;
}

.lawyers-links__item:not(:last-child) {
  margin-bottom: 15px;
}

/* information */
.information__title {
  letter-spacing: 0.02em;
  margin: 55px 0 26px;
}

.information__text {
  font-size: 15px;
  max-width: 774px;
  margin-bottom: 38px;
}

.information__text p:not(:last-child) {
  margin-bottom: 15px;
}

.information .consult {
  max-width: 470px;
  background: url("../img/services/consult__bg.png") no-repeat 95% 84%;
  padding: 23px 32px;
  border-radius: 3px;
  border: 1px solid #e3e4e6;
  margin-bottom: 54px;
}

.information .consult__title {
  color: #414449;
  font-size: 16px;
  letter-spacing: 0.01em;
  margin-bottom: 17px;
}

.information .consult__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.information .consult__tel {
  color: #585f6b;
  font-family: "Museo Sans Cyrl 700";
  font-size: 14px;
  letter-spacing: 0.02em;
}

.information .consult__descr {
  max-width: 240px;
  color: #888d95;
  font-size: 12px;
  letter-spacing: 0.24px;
}

.information .consult .button {
  margin-right: 17px;
}

.information .consult .button:hover {
  color: #fff;
  background-color: #b81c31;
  -webkit-transform: none;
          transform: none;
}

.aside {
  background-color: #fafafb;
  width: 379px;
  padding: 53px 0 105px 0px;
  margin-left: 21px;
}

.aside__title {
  color: #58647a;
  font-size: 18px;
  margin-bottom: 41px;
  margin-left: 30px;
}

.aside__nav {
  border-top: 1px solid #dfdfe8;
  margin-bottom: 54px;
  margin-top: 48px;
}

.aside__item {
  display: block;
  color: #747487;
  font-family: "Museo Sans Cyrl 700";
  font-size: 15px;
  border-bottom: 1px solid #dfdfe8;
  padding: 9px 20px 12px 58px;
  position: relative;
}

.aside__item a {
  max-width: 210px;
  display: block;
}

.aside__item:before {
  content: '';
  position: absolute;
  left: 30px;
  top: 21px;
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background-color: #747487;
  opacity: 0.57;
  margin-top: -8px;
}

.slider {
  text-align: center;
  padding: 0 40px;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Точки (булиты) */
  /* Элемент точки */
}

.slider__title {
  color: #747487;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 14px;
}

.slider__img {
  margin: 0 auto;
}

.slider__text {
  color: #404048;
  font-family: "Museo Sans Cyrl 300";
  font-size: 13px;
  margin-bottom: 9px;
  text-align: center;
}

.slider__link {
  color: #2c60a0;
  font-size: 14px;
  margin-bottom: 10px;
}

.slider *:focus {
  outline: none;
}

.slider .slick-arrow {
  position: absolute;
  top: 19%;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 10%;
  background: url("../img/services/back.svg") no-repeat center center;
  z-index: 10;
}

.slider .slick-arrow.slick-next {
  right: 7%;
  background: url("../img/services/next.svg") no-repeat center center;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin-right: 10px;
}

.slider .slick-dots li:last-child {
  margin-right: 0;
}

.slider .slick-dots li button {
  width: 11px;
  height: 11px;
  border: none;
  font-size: 0;
}

.slider .slick-dots li.slick-active button {
  background-color: #bdc5d6;
}

/*992px - 1200px (lg) */
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header .button,
  .footer .button {
    margin-left: 0;
  }
  .lawyers__img {
    margin: 13px 0 0 0;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .header {
    padding: 26px 0;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__subtitle {
    font-size: 25px;
  }
  .feature {
    margin-bottom: 50px;
  }
  .feature_last {
    margin-bottom: 0;
  }
  .benefit {
    margin-bottom: 50px;
  }
  .benefit_last {
    margin-bottom: 0;
  }
  .contacts .main-links {
    margin: 0 auto;
  }
  .news__title {
    max-width: 100%;
  }
  .info__button {
    margin-bottom: 60px;
  }
  .footer .button {
    display: none;
  }
  .caption__title {
    text-align: center;
  }
  .breadcrumb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .caption-links {
    margin: 0 auto;
  }
  .power__overlay {
    background-image: url(../img/about/blocks.png);
  }
  .information .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information .consult {
    max-width: 100%;
  }
  .information .aside {
    width: 100%;
    margin: 0;
  }
  .map__label {
    position: static;
    max-width: 90%;
    margin: 22px auto;
  }
}

/*576px - 768px (sm)*/
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .caption-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .mission__text_shifted {
    margin-left: 0;
  }
  .information .consult {
    background: none;
  }
  .footer {
    text-align: center;
  }
  .footer__info, .footer__policy, .footer__credits {
    margin: 0 auto;
  }
  .footer__author {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    width: 203px;
    margin-bottom: 30px;
  }
  .footer .button {
    display: block;
    margin: 0 auto;
    margin-top: 44px;
  }
  .info__button {
    margin-top: 60px;
  }
  .main-links li:not(:last-child) {
    margin: 0;
  }
  .power__picture {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: auto;
  }
  .about {
    text-align: center;
  }
  .feature__pic {
    width: 100px;
    height: 100px;
  }
  .mission .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news {
    margin-top: 37px;
  }
  .advantages .list__item {
    padding: 50px 0 30px 0;
  }
  .advantages .list__item:before {
    top: -20px;
  }
  .lawyers__descr {
    text-align: center;
  }
  .map__label-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__column {
    width: 100%;
  }
  .map__column:not(last-child) {
    margin-bottom: 20px;
  }
  .map br {
    display: none;
  }
  .footer__logo {
    margin-top: 0;
  }
}

@media screen and (max-width: 460px) {
  .header .button {
    max-width: 35px;
    border-radius: 50%;
    min-width: 0;
    border-bottom: none;
  }
  .header .button span {
    display: none;
  }
  .information .consult__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .information .consult__tel {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */